<launch>

  <arg name="n_uav" default="uav_1"/>
  <arg name="resync_on_reconnect" default="$(optenv MULTIMASTER_RESYNC_ON_RECONNECT false)"/>


   


  <include file="$(find dji_sdk)/launch/sdk.launch" ns="$(arg n_uav)" />


  <node pkg="inspector_software_uav" type="vel_publisher.py" name="vel_publisher" ns="$(arg n_uav)" output="screen"/>
 

  <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" respawn="true" respawn_delay="5" />
  
  <!-- <node pkg="master_sync_fkie" type="master_sync" name="master_sync" respawn="true" respawn_delay="5" >
    <rosparam subst_value="true">
         - /public*
        - /sim/clock -->
      <!-- ignore_nodes:
        - /dji_sdk
        - /ual -->
      <!-- ignore_services: -->
      <!-- - /* -->
        <!-- - /dji_sdk* -->
        <!-- - /ual/take_off -->
      <!-- sync_services: -->
            <!-- - /stby_action_service
        - /mission_service_0
        - /paused_state_action_service
        - /stop_service -->
      <!-- resync_on_reconnect: $(arg resync_on_reconnect) -->
    <!-- </rosparam>
  </node>  -->

 
</launch>
